.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 0 0 35px 0;
  width: 100%;
}

@media (min-width: 800px) {
  .item {
    margin: 0 16px 30px 16px;
    width: 220px;
  }
}
