.porfile {
  padding-top: 26px;
  min-height: 100vh;
}

.tabs {
  display: flex;
}

.tabs > .tab {
  flex: 1 1 auto;
  padding: 12px 0;
  display: block;
  background-color: transparent;
  border-width: 0 0 2px 0;
  border-style: solid;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #929292;
  opacity: 0.87;
  text-align: center;
  cursor: pointer;
}

.tabs > .tab.tabActive {
  color: #FFF;
  opacity: 1;
  border-color: #FFF;
}

.followList {
  padding: 20px 0;
}
