.header {
}

.logo {
  display: inline-block;
}

.logoLink {
  text-decoration: none;
}

.logoText {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  color: #FF5C01;
  background-image: linear-gradient(#FF5C01, #FFD25F);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1B1B1B;
  z-index: 1;
}

.list {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.listItemLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  text-decoration: none;
}

.listItemLink:hover .listItemLinkIcon,
.listItemLink:hover .listItemLinkText {
  color: #FFF;
}

.listItemLinkIcon {
  margin-bottom: 4px;
  width: 24px;
  height: 24px;
  color: #8A8A8F;
}

.listItemLinkText {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #8A8A8F;
}

@media (min-width: 1000px) {
  .header {
    width: 80px;
    background-color: #1B1B1B;
    min-height: 100%;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
  }

  .nav {
    position: static;
  }

  .list {
    display: list-item;
  }

  .listItemLink {
    padding: 12px 0;
  }
}
